#custom_table{
    width: 250px;
    height: 100px;
    position: fixed;
    top: 150px;
    left: 100px;
    background-color: white;
    z-index: 50000000;
}

#custom_table td{
    border: 1px solid black;
}